<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/icon/favicon.ico">
    
    <title>로그인</title>

    
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    
    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/login.css">
    
    <script defer src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    
    <script defer src="/js/login.js"></script>
    
    
    <script defer src="/vendor/animsition/js/animsition.min.js"></script>
    <script defer src="/vendor/bootstrap/js/popper.js"></script>
    <script defer src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
        
    <!-- Core plugin JavaScript-->
    <script defer src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script defer src="/js/sb-admin-2.min.js"></script>
    
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">        
</head>
<body>

    <div class="main">

        <div class="container">
            <p class="tip"></p>
			<div class="cont">
			    <div class="form sign-in">
			        <form class="validate-form" th:action="@{/member/teacher/loginSuccess}" method="post" id="teacherForm">
                    <span class="login100-form-title p-b-70">
                        Welcome to TT
                    </span>
                    <span class="login100-form-avatar">
                        <img src="/img/icons/teacher_icon.png" alt="teacher">
                    </span>

                    <div class="wrap-input100 validate-input m-t-85 m-b-50" data-validate="">
                        <input class="input100" type="text" id="teacherId" name="teacherId" autocomplete="off" required>
                        <span class="focus-input100" data-placeholder="아이디"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-50" data-validate="">
                        <input class="input100" type="password" id="teacherPassword" name="teacherPassword" autocomplete="off" required>
                        <span class="focus-input100" data-placeholder="비밀번호"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn" id="teacherLogin">
                            선생님 로그인
                        </button>
                    </div>
                    </form>
                    <div class="login-more p-t-190">
	                    <a th:href="@{/member/teacherForgotId}" class="txt2">
	                        아이디찾기 
	                    </a>|
	                    <a th:href="@{/member/teacherForgotPw}" class="txt2">
	                        비밀번호 찾기 
	                    </a>|
	                    <a th:href="@{/member/teacherRegister}" class="txt2">
	                         회원가입
	                    </a>
                    </div>
			  </div>  
			  <div class="sub-cont">
			    <div class="img">
			      <div class="img__text m--up">
			        <h2>학생이세요?</h2>
			        <p>아래 버튼을 눌러 <br>학생페이지로 이동해주세요!</p>
			      </div>
			      <div class="img__text m--in">
			        <h2>선생님이세요?</h2>
			        <p>아래 버튼을 눌러 <br>선생님페이지로 이동해주세요!</p>
			      </div>
			      <div class="img__btn">
			        <span class="m--up">STUDENT</span>
			        <span class="m--in">TEACHER</span>
			      </div>
			    </div>
			    
			    <div class="form sign-up">
			     <form class="validate-form" th:action="@{/member/student/loginSuccess}" method="post" id="studentForm">
                    <span class="login100-form-title p-b-70">
                        Welcome to TT
                    </span>
                    <span class="login100-form-avatar">
                        <img src="/img/icons/student_icon.png" alt="teacher">
                    </span>

                    <div class="wrap-input100 validate-input m-t-85 m-b-50" data-validate="">
                        <input class="input100" type="text" id="studentId" name="studentId" autocomplete="off" required>
                        <span class="focus-input100" data-placeholder="아이디"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-50" data-validate="">
                        <input class="input100" type="password" id="studentPassword" name="studentPassword" autocomplete="off" required>
                        <span class="focus-input100" data-placeholder="비밀번호"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            학생 로그인
                        </button>
                    </div>
                    </form>
                    <div class="login-more p-t-190">
                        <a th:href="@{/member/studentForgotId}" class="txt2">
                            아이디찾기 
                        </a>|
                        <a th:href="@{/member/studentForgotPw}" class="txt2">
                            비밀번호 찾기 
                        </a>|
                        <a th:href="@{/member/studentRegister}" class="txt2">
                             회원가입
                        </a>
                    </div>
			    </div>
			  </div>
			</div>  
        </div>
   
        
        

    </div>
    <div class="footer">
        
    </div>

   
    
</body>
</html>