<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

    <th:block layout:fragment="title">
        <title>문제집 조회 페이지</title>
    </th:block>
    
    
    <th:block layout:fragment="customCss">
    </th:block>
    
    
    <!-- content layout start -->
    <div layout:fragment="content">
    <table class="table table-hover">
                <thead>
                    <tr>
                        <th>문제집 이름</th>
                        <th>문제 수</th>
                        <th>생성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${not #lists.isEmpty( testlist )}" th:each="row : ${testlist}">
                        <td><a th:href="@{detailTestList( tid=${row.testListName} )}" th:text="${row.testListName}"></a></td>
                        <td th:text="문제수 기능 구현 예정"></td>
                        <td th:text="${row.insertUser}"></td>
                    </tr>
                    <tr th:unless="${not #lists.isEmpty( detailTestList )}">
                        <td colspan="5">조회된 결과가 없습니다.</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a th:href="testMain">수정하기</a>
                <button type="button">삭제하기</button>
            </div>
    </div> 
    <!-- content layout end -->
    
</html>