<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    
    <th:block layout:fragment="title">
        <title>문제집 등록 페이지</title>
    </th:block>
    
    <!-- customCss layout start -->
    <th:block layout:fragment="customCss">
	  <!-- Google Fonts -->
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
	  <!-- Vendor CSS Files -->
	  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	
	  <!-- Template Main CSS File -->
	  <link href="/css/insertTestList.css" rel="stylesheet">
	</th:block>
	<!-- customCss layout end -->
    
    <!-- content layout start -->
    <div layout:fragment="content">
        <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>문제집 등록</h2>
          </div>

        <form th:action="@{/testListRegister}" th:object="${testlist}" method="post" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input class="form-control" type="text" th:field="*{testListId}" placeholder="문제집이름을 입력해 주세요." />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input class="form-control" type="text" th:id="subjectCode" th:name="subjectCode" placeholder="과목명을 입력해 주세요." />
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 form-group">
              <select class="form-control" th:id="classId" th:name="classId">
                <option th:each="row : ${map}" th:value="${row?.CLASS_ID}" th:text="${row?.CLASS_NAME}"></option>
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 form-group">
              <input class="form-control" type="text" th:id="academyId" th:name="academyId" th:value="${session.loginUser.getAcademyId}" readonly/>
            </div>
          </div>

          <div class="col-md-6 form-group"> 
               <a class="appointment-btn" th:href="@{testMain}">뒤로가기</a>
               <button class="appointment-btn" type="submit">저장하기</button>
          </div>
        </form>

      </div>
    </section>
    </div>
    <!-- content layout end -->
    
</html>