<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

    <th:block layout:fragment="title">
        <title>this is view page</title>
    </th:block>
    
    <!-- customCss layout start -->
    <th:block layout:fragment="customCss">
    </th:block>
    <!-- customCss layout end -->
    
    <!-- customJs layout start -->
    <th:block layout:fragment="customJs">
        <script defer src="/js/detailQuestion.js"></script>
    </th:block>
    <!-- customJs layout end -->
    
    <!-- content layout start -->
    <div layout:fragment="content">
    <th:block>
        <div id = "deleteDiv">
            <form th:object="${question}">
                <div>
                    <label for="questionId">문제ID</label>
                    <div>
                        <p th:text="*{questionId}" ></p>
                    </div>
                </div>
                <div>
                    <label for="questionContent">문제내용</label>
                    <div>
                        <p th:text="*{questionContent}"></p>
                    </div>
                </div>
                <div>
                    <label for="questionAnswer">등록된 답</label>
                    <div>
                        <p th:text="*{questionAnswer}"></p>
                    </div>
                </div>
                <div>
                    <label for="questionScore">점수</label>
                    <div>
                        <p th:text="*{questionScore}"></p>
                    </div>
                </div>
                <div>
                    <label for="questionImage">이미지</label>
                    <div>
                        <p th:text="*{questionImage}"></p>
                    </div>
                </div>
            </form>

            <div>
                <a th:href="">수정하기</a>
                <button type="button" th:onclick="deleteQuestion([[ ${question.questionId} ]])">삭제하기</button>
            </div>
        </div>
    </th:block>
    </div>
     <!-- content layout end -->
    
</html>