<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="title">
        <title>수강생</title>
    </th:block>
    <th:block layout:fragment="customCss">
        <link rel="stylesheet" href="/css/attendeedetail.css">
    </th:block>
    
    <div layout:fragment="content">
     <div class="container-fluid my-5 justify-content-center">
    <div class=" row justify-content-center ">
        <div class="col-lg-4 mt-5 col-12 ">
            <div class="card mt-3">
                <div class="card-header bg-white text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside profileimg" th:src="${attendeeDetail.STUDENT_PROFILE}" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic"><span class="profilenamefont" th:text="${attendeeDetail.STUDENT_NAME}"></span></h5><p></p>
                        </div>
                    </div>
                    <div>
                    <p></p>
                    <span class="profiledatafont">성별 </span><br><span class="profiledataRight" th:text="${attendeeDetail.STUDENT_GENDER}"></span><p></p>
                    <span class="profiledatafont">생년월일 </span><br><span class="profiledataRight" th:text="${#dates.format( attendeeDetail.STUDENT_BIRTHDATE, 'yyyy-MM-dd' )}"></span><p></p>
                    <span class="profiledatafont">휴대폰번호</span><br><span th:text="${attendeeDetail.STUDENT_PHONE}"></span><p></p>
                    <span class="profiledatafont">주소 </span><br><span th:text="${attendeeDetail.STUDENT_ADDRESS1}"></span></br>
                    <span th:text="${attendeeDetail.STUDENT_ADDRESS2}"></span><p></p>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <span class="mt-0"><span class="profiledatafont">신청이유</span></span>
                            <p></p>
                            <div class="memo">
                            <p class="bold"> <span th:text="${attendeeDetail.ATTENDEE_MEMO}"></span> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center bg-white border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col"> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-pinterest-p" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-google-plus" aria-hidden="true"></i></span> </div>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    
    <th:block layout:fragment="customJs">
        <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</th:block>
</html>