<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="sidebar">
<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size: 2rem;">TT<sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/classs/classlist}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>ClassList</span></a>
                <a class="nav-link" th:if="${session.role}=='teacher'" th:href="@{/classs/classteacherexist}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>MyClass</span></a>
                <a class="nav-link" th:unless="${session.role}=='teacher'" th:href="@{/classs/classstudendtexist}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>MyClass</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Student
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/attendee/attendeeteacherexist}" th:if="${session.role}=='teacher'">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Attendee</span>
                </a>
                <a class="nav-link" th:href="@{/mypage}" th:unless="${session.role}=='teacher'">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>마이페이지</span>
                </a>
            
            </li>

           <!--  Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/attendance/attendanceteacherexist}" th:if="${session.role}=='teacher'">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Attendance</span>
                </a>
                <a class="nav-link collapsed" th:href="@{/attendance/attendancestudentexist}" th:unless="${session.role}=='teacher'">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Attendance</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/test/testMain">
                    <i class="fas fa-fw fa-table"></i>
                    <span>TestMain</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
    </th:block>
</html>