<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

    <th:block layout:fragment="title">
        <title>반 상세정보</title>
    </th:block>
    
    <th:block layout:fragment="customCss">
        <link th:href="@{/css/mypage.css}" rel="stylesheet">
        <style>
            ul li {list-style-type:none;}
            #attendee_1 {display:none;}
            #attendee_2 {display:none;}
            
        </style>
    </th:block> 

    
    <div layout:fragment="content">
	   <form method="post" action="/board/select">
	           <input type="hidden" id="role" th:value="${session.role}">
			<ul id="classmenu">
			    <li>
			        <label>반이름</label>
			        <input type="text" name="className" id="className" th:value="${detail.className}" disabled>
			    </li>
			    <li>
			         <label>담당 선생님</label>
			         <input type="text" name="teacherId" id="teacherId" th:value="${detail.teacherId}" disabled>
			    </li>
			    <li>
			        <label>수업 시작일</label>
			        <input type="date" name="classStartDate" id="classStartDate" th:value="${detail.classStartDate}" th:min="${detail.classStartDate}" disabled>
			    </li>
			    <li>
			       <label>수업 종료일</label>
			       <input type="date" name="classEndDate" id="classEndDate" th:value="${detail.classEndDate}" th:min="${detail.classStartDate}" disabled>
			    </li>
			    <li id="attendee_1">
			         <label>신청 이유</label>
			         <input type="text" >
			    </li>
			    <li id="attendee_2">
			       <input  type="button" value="수강신청">
			    </li>
			</ul>
		</form>
	</div> 
	
	<th:block layout:fragment="customJs">
        <script defer th:src="@{/js/app.js}"></script>
        <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script>
        $(document).ready(function(){
            let role= $('#role').val();
            if(role=="student"){
                $('#attendee_1').css("display","block");
                $('#attendee_2').css("display","block");
            }
           
        })
        </script>
    </th:block>	    
</html>