<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.mapper.AttendeeMapper">
<sql id="classColumns">
       user_id
      ,class_id
      ,academy_id
      ,status_yn
      </sql> 
     <insert id="Attendeeput" parameterType="AttendeeDTO">
        INSERT INTO ATTENDEE_TABLE VALUES(#{studentId},#{classId},#{academyId},'수강대기',#{attendeeMemo},#{studentId},'',sysdate,'')
     </insert>
    
     <select id="AttendeeList" resultType="ClassDTO">
         SELECT <include refid="classColumns" />
         FROM ATTENDEE_TABLE
    </select>
    
    <update id="AttendeeCall" parameterType="String">
        UPDATE ATTENDEE_TABLE SET participate_status = '수강중', update_user =#{id},update_date =sysdate
        WHERE USER_ID = #{id}
    </update>
    <update id="AttendeeGiveup" parameterType="String">
        UPDATE ATTENDEE_TABLE SET participate_status = '중도포기', update_user =#{id},update_date =sysdate
        WHERE USER_ID = #{id}
    </update>
    <delete id="AttendeeDelete" parameterType="String">
    DELETE FROM ATTENDEE_TABLE WHERE STUDENT_ID = #{id}
    </delete>
</mapper> 