<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.mapper.AttendeeMapper">
<sql id="classColumns">
       user_id
      ,class_id
      ,academy_id
      ,status_yn
      </sql> 
     <insert id="Attendeeput" parameterType="AttendeeDTO">
        INSERT INTO ATTENDEE_TABLE VALUES(#{studentId},#{classId},#{academyId},'수강대기',#{attendeeMemo},#{studentId},'',sysdate,'')
     </insert>
    
     <select id="AttendeeList" parameterType="Map" resultType="Map">
         SELECT a.student_id 
           ,RPAD(b.student_name,12,' ') as student_name
           ,b.student_gender
           ,b.student_birthdate
           ,a.participate_status
           ,b.STUDENT_PROFILE
	     FROM ATTENDEE_TABLE a LEFT OUTER JOIN STUDENT_TABLE b
	     ON(a.student_id = b.student_id )
	     WHERE a.CLASS_ID = #{classId} AND  a.ACADEMY_ID =#{academyId}
	     ORDER BY a.participate_status
    </select>
    
    <update id="AttendeeCall" parameterType="AttendeeDTO">
        UPDATE ATTENDEE_TABLE SET participate_status = #{participateStatus}, update_user =#{updateUser},update_date =sysdate
        WHERE STUDENT_ID = #{studentId} AND CLASS_ID =#{classId} AND ACADEMY_ID = #{academyId}
    </update>
    <update id="AttendeeGiveup" parameterType="AttendeeDTO">
        UPDATE ATTENDEE_TABLE SET participate_status = #{participateStatus}, update_user =#{updateUser}, update_date =sysdate
        WHERE STUDENT_ID = #{studentId} AND CLASS_ID =#{classId} AND ACADEMY_ID = #{academyId}
    </update>
    <delete id="AttendeeDelete" parameterType="AttendeeDTO">
    DELETE FROM ATTENDEE_TABLE WHERE STUDENT_ID = #{studentId} AND CLASS_ID =#{classId} AND ACADEMY_ID = #{academyId}
    </delete>
    
    <select id="AttendeeDetail" parameterType="AttendeeDTO" resultType="Map">
     SELECT b.STUDENT_PROFILE  
      ,b.STUDENT_ID 
      ,b.STUDENT_NAME  
      ,b.STUDENT_BIRTHDATE 
      ,b.STUDENT_GENDER 
      ,b.STUDENT_PHONE
      ,b.STUDENT_ADDRESS1
      ,b.STUDENT_ADDRESS2
      ,a.ATTENDEE_MEMO
      FROM ATTENDEE_TABLE a
      LEFT OUTER JOIN STUDENT_TABLE b 
      ON (a.STUDENT_ID = b.STUDENT_ID)
      WHERE a.STUDENT_ID  = #{studentId} AND a.CLASS_ID = #{classId} AND a.ACADEMY_ID = #{academyId}
    </select>
    
    <select id="CounsellingList" parameterType="String" resultType="CounsellingDTO">
    SELECT counselling_id  FROM counselling_table WHERE STUDENT_ID =#{STUDENT_ID}
    </select>
    
    <update id="CounsellingInsert" parameterType="CounsellingDTO">
     MERGE INTO counselling_table S
     USING DUAL
     ON (S.COUNSELLING_ID = #{counsellingId})
     WHEN MATCHED THEN
     UPDATE SET S.COUNSELLING_CONTENT = #{counsellingContent}, S.UDATE_USER = #{teacherId} S.UPDATE_DATE = #{updateDate} 
     WHEN NOT MATCHED THEN
        INSERT (S.COUNSELLING_ID , S.STUDENT_ID, S.CLASS_ID, S.ACADEMY_ID ,S.COUNSELLING_CONTENT , S.TEACHER_ID ,S.INSERT_USER,S.UPDATE_USER,S.INSERT_DATE ,S.UPDATE_DATE)
        VALUES (counselling_seq.NEXTVAL, #{studentId}, #{classId},#{academyId},#{counsellingContent},#{teacherId},#{insertUser},#{updateUser},#{insertDate},#{updateDate})
    </update>
</mapper> 