<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.mapper.ClassMapper">

<select id="classList" resultType="ClassDTO">
    select class_id, class_name , class_start_date, class_end_date from class_table
</select>

<select id="myClassList" parameterType="TeacherDTO" resultType="ClassDTO">
    SELECT class_table.class_id, class_table.class_name, class_table.class_start_date ,class_table.class_end_date,teaching_history_table.teacher_id FROM class_table,teaching_history_table WHERE class_table.class_id = teaching_history_table.class_id AND teacher_id=#{teacherId}
</select>

<insert id="createClass" parameterType="ClassDTO" >
    insert into class_table values(class_seq.nextval, #{academyId}, #{className},#{classStartDate},#{classEndDate},#{teacherId},#{teacherId},sysdate,sysdate,#{classImage},'p' )
</insert>

<insert id="insertTeachingHistory" parameterType="ClassDTO">
    insert into teaching_history_table values(teaching_history_seq.nextval, #{academyId},#{teacherId},#{classStartDate},#{classEndDate},'y')
</insert>

<select id="classDetails" parameterType="ClassDTO" resultType="ClassDTO">
   SELECT class_table.class_id ,class_table.academy_id ,class_table.class_name, class_table.class_start_date ,class_table.class_end_date ,teaching_history_table.teacher_id, class_table.class_status, class_table.class_image  FROM teaching_history_table INNER JOIN class_table ON teaching_history_table.class_id= class_table.class_id WHERE class_table.class_id=#{classId}
</select>

<select id="subjectlist" resultType="SubjectDTO">
    select subject_code, subject_name , subject_ncs_number, subject_ncs_level from subject_table
</select>

<select id="subjectSearch" parameterType="String" resultType="SubjectDTO">
     select subject_code, subject_name , subject_ncs_number, subject_ncs_level from subject_table where subject_name like '%'||#{sub}||'%'
</select>

<insert id="subjectInsert" parameterType="SubjectDTO">
    insert into subject_table values (subject_seq.nextval,#{subjectName},#{subjectNcsNumber},#{subjectNcsLevel},#{insertUser},#{insertUser},sysdate,sysdate)
</insert>

<insert id="insertCurri" parameterType="CurriculumDTO">
    insert into curriculum_table VALUES (#{subjectCode},#{classId},#{academyId},#{curriculumProc},#{curriculumStartDate},#{curriculumEndDate},#{insertUser},#{updateUser},sysdate,sysdate) 
</insert>

<select id="selectTeachinghistory" parameterType="String" resultType="int">
    SELECT COUNT(*)  FROM teaching_history_table WHERE TEACHER_ID = #{id}
</select>

<select id="selectClassAcademyjoin" parameterType="String" resultType="map">
    SELECT a.CLASS_ID 
      ,class_name 
      ,a.academy_id 
      ,b.class_image
      ,c.academy_name 
      ,a.TEACHER_ID 
      FROM teaching_history_table a
      LEFT OUTER JOIN class_table b 
      ON (a.class_id= b.class_id AND a.ACADEMY_ID = b.ACADEMY_ID)
      JOIN ACADEMY_TABLE c
      ON (a.ACADEMY_ID = c.ACADEMY_ID)
      WHERE a.TEACHER_ID = #{id}
      ORDER BY a.CLASS_ID,a.TEACHING_START_DATE DESC 
</select>

<select id="classDetailsTeacher" parameterType="ClassDTO" resultType="TeacherDTO">
    SELECT teacher_table.teacher_name FROM TEACHER_TABLE INNER JOIN TEACHING_HISTORY_TABLE ON teacher_table.teacher_id= teaching_history_table.TEACHER_ID WHERE teaching_history_table.class_id=#{classId}
</select>

<update id="application" parameterType="String" >
    UPDATE class_table SET class_status ='y' WHERE class_id =#{id}
</update>

<update id="application2" parameterType="String" >
    UPDATE class_table SET class_status ='p' WHERE class_id =#{id}
</update>

<insert id="classUpdate" parameterType="ClassDTO">
    UPDATE class_table SET class_name=#{className}, CLASS_START_DATE =#{classStartDate} ,CLASS_END_DATE =#{classEndDate}, class_image =#{classImage} WHERE class_id=#{classId}
</insert>

<select id="curriList" parameterType="ClassDTO" resultType="CurriculumDTO">
    SELECT subject_table.subject_name, curriculum_table.curriculum_proc ,curriculum_table.curriculum_start_date, curriculum_table.curriculum_end_date FROM curriculum_table INNER JOIN SUBJECT_TABLE ON curriculum_table.subject_code=subject_table.SUBJECT_CODE and class_id = #{classId}
</select>

<delete id="deleteCurri" parameterType="String">
    DELETE from curriculum_table WHERE class_id =#{classId}
</delete>
</mapper>