<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.mapper.StudentMapper">

    <sql id="studentColumns">
         student_id
        ,student_profile  
        ,student_password
        ,student_birthdate
        ,student_gender
        ,student_phone
        ,student_address1
        ,student_address2
        ,student_address3
        ,student_name
        ,student_email
        ,student_delete_yn
        ,student_regdate
        ,academy_id
    </sql>
    
    <insert id="insertStudent" parameterType="StudentDTO">
        INSERT INTO student_table (
            <include refid="studentColumns" />
        ) VALUES (
                #{studentId}
               ,'/img/profileimg.JPG' 
               ,#{studentPassword}
               ,#{studentBirthdate}
               ,#{studentGender}
               ,#{studentPhone} 
               ,#{studentAddress1}
               ,#{studentAddress2}
               ,#{studentAddress3}
               ,#{studentName}
               ,#{studentEmail} 
               ,'N'
               ,sysdate 
               ,'humanacademy'
        )
    </insert>
    
    <select id="selectStudentDetail" parameterType="string" resultType="StudentDTO">
        SELECT
            <include refid="studentColumns" />
        FROM
            student_table
        WHERE
            student_delete_yn = 'N'
        AND
            student_id = #{studentId}
    </select>
    
    <select id="selectStudent" parameterType="StudentDTO" resultType="int">
        
        SELECT COUNT(*)
        FROM
            student_table
        WHERE
            student_delete_yn = 'N'
        AND
            student_id = #{studentId}
        AND
            student_password = #{studentPassword}
            
    </select>
    
    <select id="checkId" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM   
            student_table
        WHERE 
            student_id = #{studentId}
    </select>
    
    <select id="checkEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM   
            student_table
        WHERE 
            student_email = #{studentEmail}
    </select>
    
    <select id="findId" parameterType="StudentDTO" resultType="string">
        SELECT student_id 
        FROM   
            student_table
        WHERE 
            student_name = #{studentName}
        AND    
            student_email = #{studentEmail}
        AND
            student_delete_yn = 'N'    
    </select>
    
    <select id="findPw" parameterType="StudentDTO" resultType="int">
        SELECT COUNT(*)
        FROM   
            student_table
        WHERE 
            student_id = #{studentId}
        AND
            student_name = #{studentName}
        AND    
            student_email = #{studentEmail}
        AND
            student_delete_yn = 'N'    
    </select>
    
    <update id="setNewPw" parameterType="StudentDTO">
        UPDATE student_table
        SET
            student_password = #{studentPassword}
        WHERE
            student_id = #{studentId}
    </update>
    
    <update id="updateStudent" parameterType="StudentDTO">
        UPDATE student_table
        SET
            student_password = #{studentPassword},
            student_phone = #{studentPhone},
            student_address1 = #{studentAddress1},
            student_address2 = #{studentAddress2},
            student_address3 = #{studentAddress3}
        WHERE
            student_id = #{studentId}
    </update>   
    
    <update id="deleteStudent" parameterType="string">
        UPDATE student_table
        SET
            student_delete_yn = 'Y'
        WHERE
            student_id = #{studentId}
    </update>   
    
    <update id="updateProfile" parameterType="StudentDTO">
        UPDATE student_table
        SET
            student_profile = #{studentProfile}
        WHERE
            student_id = #{studentId}
    </update> 
</mapper>