<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.mapper.TeacherMapper">

    <sql id="teacherColumns">
         teacher_id
        ,teacher_profile 
        ,teacher_password
        ,teacher_birthdate
        ,teacher_gender
        ,teacher_phone
        ,teacher_address1
        ,teacher_address2
        ,teacher_address3
        ,teacher_name
        ,teacher_email
        ,teacher_delete_yn
        ,teacher_regdate
        ,teacher_major
        ,teacher_subject
        ,academy_id
    </sql>
    
    <insert id="insertTeacher" parameterType="TeacherDTO">
        INSERT INTO teacher_table (
            <include refid="teacherColumns" />
        ) VALUES (
                #{teacherId}
               ,'/img/undraw_profile.svg'
               ,#{teacherPassword}
               ,#{teacherBirthdate}
               ,#{teacherGender}
               ,#{teacherPhone} 
               ,#{teacherAddress1}
               ,#{teacherAddress2}
               ,#{teacherAddress3}
               ,#{teacherName}
               ,#{teacherEmail} 
               ,'N'
               ,sysdate
               ,#{teacherMajor} 
               ,#{teacherSubject} 
               ,'humanacademy'
        )
    </insert>
    
    <select id="selectTeacherDetail" parameterType="string" resultType="TeacherDTO">
        SELECT
            <include refid="teacherColumns" />
        FROM
            teacher_table
        WHERE
            teacher_delete_yn = 'N'
        AND
            teacher_id = #{teacherId}
    </select>
    
    <select id="selectTeacher" parameterType="TeacherDTO" resultType="int">
        
        SELECT COUNT(*)
        FROM
            teacher_table
        WHERE
            teacher_delete_yn = 'N'
        AND
            teacher_id = #{teacherId}
        AND
            teacher_password = #{teacherPassword}
    </select>
    
    <select id="checkId" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM   
            teacher_table
        WHERE 
            teacher_id = #{teacherId}
    </select>
    
    <select id="checkEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM   
            teacher_table
        WHERE 
            teacher_email = #{teacherEmail}
    </select>
    
    <select id="findId" parameterType="TeacherDTO" resultType="string">
        SELECT teacher_id 
        FROM   
            teacher_table
        WHERE 
            teacher_name = #{teacherName}
        AND    
            teacher_email = #{teacherEmail}
        AND
            teacher_delete_yn = 'N'    
    </select>
    
    <select id="findPw" parameterType="TeacherDTO" resultType="int">
        SELECT COUNT(*)
        FROM   
            teacher_table
        WHERE 
            teacher_id = #{teacherId}
        AND
            teacher_name = #{teacherName}
        AND    
            teacher_email = #{teacherEmail}
        AND
            teacher_delete_yn = 'N'    
    </select>
    
    <update id="setNewPw" parameterType="TeacherDTO">
        UPDATE teacher_table
        SET
            teacher_password = #{teacherPassword}
        WHERE
            teacher_id = #{teacherId}
    </update> 
    
    <update id="updateTeacher" parameterType="TeacherDTO">
        UPDATE teacher_table
        SET
            teacher_password = #{teacherPassword},
            teacher_phone = #{teacherPhone},
            teacher_subject = #{teacherSubject},
            teacher_major = #{teacherMajor},
            teacher_address1 = #{teacherAddress1},
            teacher_address2 = #{teacherAddress2},
            teacher_address3 = #{teacherAddress3}
        WHERE
            teacher_id = #{teacherId}
    </update>   
    
    <update id="deleteTeacher" parameterType="string">
        UPDATE teacher_table
        SET
            teacher_delete_yn = 'Y'
        WHERE
            teacher_id = #{teacherId}
    </update>      
    
    
</mapper>