<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.mapper.TestMapper2">

    <!-- 등록된 문제 수 카운트 -->
    <select id="countQuestion" resultType="_int">
        select 
            count(*)
        from
            question_table
    </select>

    <!-- 문제 등록 -->
    <insert id="registerQuestion" parameterType="QuestionDTO">
	    insert into question_table (
	        question_id,
	        question_content,
	        question_score,
	        question_answer,
	        question_image,
	        insert_date,
	        insert_user
	    ) values (
	        question_seq.nextval,
	        #{questionContent},
	        #{questionScore},
	        #{questionAnswer},
	        #{questionImage},
	        sysdate,
	        #{insertUser}
	    )
    </insert>
    
    <!-- 문제집 등록 -->
    <insert id="registerTestList" parameterType="TestListDTO">
        insert into test_list_table (
			test_list_name,
			class_id,
			academy_id,
			subject_code,
			insert_date,
			insert_user
        ) values (
            #{testListName},
            #{classId, jdbcType=VARCHAR},
            #{academyId, jdbcType=VARCHAR},
            #{subjectCode, jdbcType=INTEGER},
            sysdate,
            #{insertUser}
        )
    </insert>
    
    <!-- 문제집 전체 조회 -->
    <select id="viewAllTestList" resultType="TestListDTO">
        select 
            test_list_name,
            subject_code,
            class_id,
            academy_id
        from
            test_list_table
    </select>
    
    <!-- 문제 전체 조회 -->
    <select id="viewAllQuestion" resultType="QuestionDTO">
        select
            question_id,
            question_content,
            question_score,
            question_answer
        from
            question_table
    </select>
    
    <!-- 문제 상세 조회 -->
    <select id="detailQuestion" parameterType="String" resultType="QuestionDTO">
        select
            question_id,
            question_score,
            question_content,
            question_answer,
            question_image
        from
            question_table
        where
            question_id = #{qid}
    </select>
    
    <!-- 문제집 이름 전체 조회 -->
    <!-- 이후에 where 조건을 걸어서 해당 선생님이 소속된 학원 또는 반의 문제집만 표시되도록 수정하기 -->
    <select id="selectBoxTestList" resultType="String">
        SELECT 
            test_list_name
        FROM 
            test_list_table
    </select>
    
</mapper>