<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.mapper.TestMapper">

    <!-- 등록된 문제 수 카운트 -->
    <select id="countQuestion" resultType="_int">
        select 
            count(*)
        from
            test_question_table
    </select>

    <!-- 문제 등록 -->
    <insert id="registerQuestion" parameterType="TestQuestionDTO">
        insert into test_question_table (
            test_question_id,
            test_question_score,
            test_question_content,
            test_question_answer,
            test_question_image,
            test_list_id,
            class_id,
            academy_id,
            insert_user,
            update_user,
            insert_date,
            update_date
        )
        values (
            question_seq.nextval,
            #{testQuestionScore},
            #{testQuestionContent},
            #{testQuestionAnswer},
            #{testQuestionImage},
            #{testListId},
            #{classId},
            #{academyId},
            null <!-- #{insertUser} -->,
            null,
            sysdate,
            null
        )
    </insert>
    
    <!-- 문제집 등록 -->
    <insert id="registerTestList" parameterType="TestPaperDTO">
        insert into test_list_table (
            test_list_id,
            subject_code,
            class_id,
            academy_id,
            insert_user,
            update_user,
            insert_date,
            update_date
        )
        values (
            #{testListId},
            #{subjectCode},
            #{classId},
            #{academyId},
            null <!-- #{insertUser} -->,
            null,
            sysdate,
            null
        )
    </insert>
    
    <!-- 문제집 조회 -->
    <select id="detailTestList" parameterType="String" resultType="TestPaperDTO">
        select
            test_question_id,
            test_question_score,
            test_question_content,
            test_question_answer,
            test_question_image,
            test_list_id,
            class_id,
            academy_id
        from
            test_question_table
        where
            test_list_id = #{tid}
    </select>
    
    <!-- 문제 조회 -->
    <select id="detailQuestion" parameterType="String" resultType="TestQuestionDTO">
        select
            test_question_id,
            test_question_score,
            test_question_content,
            test_question_answer,
            test_question_image,
            test_list_id,
            class_id,
            academy_id
        from
            test_question_table
        where
            test_question_id = #{qid}
    </select>
    
    <!-- 문제 삭제 -->
    <delete id="deleteQuestion" parameterType="String">
        delete
        from
            test_question_table
        where
            test_question_id = 
                #{qid}
    </delete>
    
    <!-- 문제 수정 -->
    <update id="updateQuestion" parameterType="TestQuestionDTO">
        update test_question_table
        set
            test_question_score = 
                #{testQuestionScore},
            test_question_content = 
                #{testQuestionContent},
            test_question_answer = 
                #{testQuestionAnswer},
            test_question_image = 
                null <!-- #{image}  -->,
            test_list_id = 
                #{testListId},
            class_id = 
                #{classId},
            academy_id = 
                #{academyId},
            update_user = 
                null <!-- #{updateUser} -->,
            update_date = 
                sysdate
        where
            test_question_id = 
                #{qid}
    </update>
    
    <!-- 문제 풀때 문제 불러오기 -->
    <select id="solveTest" parameterType="String" resultType="QuestionDTO">
        select
            question_id,
            question_score,
            question_content,
            question_image
        from
            question_table
    </select>
    
    <!-- 학생 답안 등록 -->
    <insert id="insertStudentAnswer" parameterType="StudentTestDTO">
        insert into student_test_table (
            test_round,
            test_question_id,
            test_list_id,
            student_id,
            class_id,
            academy_id,
            student_test_answer,
            correct_or_not,
            insert_date
        )
        values (
            1 <!-- #{testRound} -->,
            #{testQuestionId},
            #{testListId},
            #{studentId},
            #{classId},
            #{academyId},
            #{studentTestAnswer},
            'N',
            sysdate
        )
    </insert>
    
    <!-- 채점지 내용 조회 -->
    <select id="viewStudentAnswer" parameterType ="HashMap" resultType="MarkingTestDTO">
        SELECT DISTINCT
            tqt.test_question_id, 
            tqt.test_question_content, 
            tqt.test_question_answer, 
            stt.student_test_answer, 
            stt.student_id
        FROM 
            test_question_table tqt 
        INNER JOIN 
            student_test_table stt
        ON 
            tqt.test_question_id = 
            stt.test_question_id
        WHERE 
            stt.student_id = #{sid} 
        AND 
            tqt.test_list_id = #{tid}
        ORDER BY 
            test_question_id
    </select>
    
    <!-- 채점 처리 -->
    <update id="updateCON" parameterType="MarkingTestDTO">
        UPDATE 
            student_test_table
        SET 
          correct_or_not = 'Y'
        WHERE 
          test_question_id = #{testQuestionId}
        AND 
          student_id = #{studentId}
    </update>
    
    <!-- 제출 여부 확인 -->
    <select id="checkSubmitAnswer" parameterType="HashMap" resultType="_int">
        select
          count(*)
        from
          student_exam_table
        where<!-- 
          test_list_id = #{testListId}
        AND  -->
          student_id = #{studentId}
    </select>
    
    <!-- 선생님 반 목록 조회 -->
    <select id="teacherClass" parameterType="String" resultType="map">
        SELECT 
            ct.class_id,
            ct.class_name  
        FROM 
            class_table ct, 
            TEACHING_HISTORY_TABLE tht
        WHERE 
            ct.CLASS_ID = tht.CLASS_ID
        AND 
            tht.TEACHER_ID = #{teacher}
        ORDER BY CLASS_NAME
    </select>
</mapper>