@charset "UTF-8";
body {
    min-height: 100vh;
    background-color: #eee;
    background-size: cover;
    font-family: 'Cormorant', serif;
    color: rgb(112, 123, 240);
    background: linear-gradient(140deg, #fff, 50%, #74a0ff);
    background-repeat: no-repeat
}
.counsellingContent{
	width: 80%;
	height: 46rem;
	font-size: 15px;
	border-radius: 1rem;
	border: solid;
	color: #9aadf7;
}
.selectbox{
	border-radius: 1rem;
    border: solid;
    color: #9aadf7;
	
}
.counsellingmargine{
	margin-top: 4rem;
}
.divwidth{
    flex: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    max-width: 100%;
    float:left;
    width:50%; 
    margin-top: 3rem;
}
.profileimg{
	height: 11rem;
	width: 11rem;
}
.icon{
	height:2rem;
	width :2rem;
}
.memo{
    width: auto;
    height: auto;
    border-radius: 1rem;
    border: 1px solid #4e73df;
    padding: 1rem;
    background-color: rgba(78,115,233,0.1);
    color: black;
}

.profiledatafont{
    font-weight: bold;
    font-size: 20px;
    margin-right: 2rem;
}
.profilenamefont{
	font-weight: bold;
    font-size: 30px;
    color: #4e73df;
}
.container-fluid {
    margin-top: 80px !important
}

p {
    font-size: 17px;
    margin-bottom: 7px
}

.small {
    letter-spacing: 0.5px !important
}

.card-header img {
    border: 5px solid white !important
}

.outside {
    position: inherit;
    top: -50%
}

.card {
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px 0px rgb(100, 108, 170);
    transition: 0.8s
}

.card-header {
    border-radius: 20px !important
}

.card-footer {
    border-radius: 20px !important
}

hr {
    background-color: rgb(146, 154, 236);
    border: 1px solid;
    border-radius: 20px;
    color: rgb(146, 154, 236);
    height: 5px;
    width: 70px !important
}

.bold {
    font-weight: 500
}

.profile-pic {
    margin-bottom: -5px !important
}

.quotes {
    position: relative;
    top: -10px
}

.quotes-down {
    position: relative;
    top: -4 px
}

.fa {
    color: rgb(174, 178, 219);
    cursor: pointer
}

.card-footer .fa {
    font-size: 20px !important
}

.name {
    margin-top: -50px !important
}

.container-fluid:hover .card:not(:hover) {
    transform: scale(0.9)
}
@media (max-width: 1000px) {
    .container-fluid:hover .card:not(:hover) {
        transform: scale(1)
    }
}
