.formLabel {
    margin-bottom: 0.2rem !important;
    margin-left: 0.2rem;
    font-size: 0.9rem;
}    

.hint {
	width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.form-control {
	margin-bottom: 8px;
}

.profileBtn {
    font-size: 9px !important; 	
}

.profileLabel {
	margin-bottom: 0 !important;
}

.removeBtn {
	display: none;
}

.input-group {
    padding-left: inherit !important;
}

.input-group:not(.has-validation)>.input-group-append:not(:last-child)>.btn {
	border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#teacherSave {
	margin-right: 5px;
}

#studentSave {
    margin-right: 5px;
}

.btn {
	font-size: 13px !important;
}