.img-profile {
	width: 100px;
	height: 100px;
}

.profile_col {
	flex-basis: 20%;
}

.name_col {
	flex-basis: 40%;
	margin-left: 30px;
}

.badge_col {
	flex-basis: 40%;
}

.profile_img {
	text-align: center;
}

img {
    width : 100%;
    height: 100%;
}

#male {
	color: rgb(159, 205, 220);
}

#female {
	color: #dc585b;
}

.formLabel {
    margin-bottom: 0.2rem !important;
    margin-left: 0.2rem;
    font-size: 0.9rem;
}    

.hint {
	width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.form-control {
	margin-bottom: 8px;
}

.profileBtn {
    font-size: 9px !important;
    width: inherit; 	
}

.profileLabel {
	margin-bottom: 0 !important;
}

.removeBtn {
	display: none;
}

.saveBtn {
	background-color: transparent;
	border: 1px solid #858796;
	padding: .375rem .75rem;
	color: #858796;
	font-size: 0.8rem;
	border-radius: 0.35rem;
}

.btn {
	vertical-align: baseline !important;
	
}

.uploadBtn {
	background-color: rgb(239, 239, 239) !important;
	vertical-align: baseline !important;
}

.input-group {
    padding-left: inherit !important;
}

.input-group:not(.has-validation)>.input-group-append:not(:last-child)>.btn {
	border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#teacherSave {
	margin-right: 5px;
}

#studentSave {
    margin-right: 5px;
}

.btn {
	font-size: 13px !important;
}